<style type="text/css">

body{
    font-family: gotham, helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center;
    
}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
    color: #2dbe60;
}
h3{
    font-size: 24px;
}
li {
    line-height: 20px;
}
.pageWrapper{
    min-height: 100%;
}
.coloredBg{
    background-image: linear-gradient(top bottom,#654a86,#2dbe60);
    background-color: #2dbe60;
    height: 100%;
}
.container{
    position: relative;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.container .content, .container .content>a{
    margin-bottom: 80px;
    color: rgba(255,255,255,0.8);

}
.container .loginPanel{
    color: #3f3f44;
}



/************ Main styles **************/
#header{
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    height: 55px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.navigation{
    width: 100%;
    background: #FFFFFF;
    margin: 0px;
    top: 0px;
}
.main_container {
    margin-right: auto;
    margin-left: auto;
}
.navigationbar {
    margin-bottom: 0px;
    overflow: visible;
}
.navigationbar_inner {
    min-height: 40px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #ffffff;
}
.navigationbar .logo{
    display: block;
    float: left;
    padding: 9px 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    color: #2dbe60; 
    text-decoration: none;
}
.navigationbar .list_nav {
    position: relative;
    left: 0;
    display: block;
    float: right;
    margin: 0 10px 0 0;
    list-style: none;
}
.navigationbar .list_nav > li{
    float: left;
}
.navigationbar .list_nav > li{
    border-left: 1px solid #E4E8EA;
}
.navigationbar .list_nav > li > a {
    float: none;
    padding: 17px 15px;
    color: #74838B;
    text-decoration: none;
    font-family: 'DroidSansRegular';
    transition: all 250ms ease-out 0s;
    display: block;
}
.navigationbar .list_nav  > .active > a{
    text-decoration: none;
    background-color: #2dbe60;
}
.navigationbar .list_nav > li > a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #2dbe60;
}
.content {
    font-size: 13px;
    top: 0px;
    width: auto;
}
.holder{
    margin-top:30px;
    margin-left:30px;
    width: 100%;
    float: left;
    font-size: 17px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width:50%;
    margin-left:20%;
    margin-right:25%;
}
.user_panel{
    border-color: #ddd;
}
.panel_body {
    padding: 24px 4% 5% 7%;
}
.profile_pic{
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 3%;
}
.panel_body .lower_content{
    margin-left: 10px ;
    margin-right: 15%;
    margin-top: 3%;
    text-align: center
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}